@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie wysłania linku na wskazany adres email";
}
    <div class="box-cont  mx-1 mx-lg-5 mx-md-2 text-center">
        <div class="special" style="padding-top:6rem">
            <span class="far icon fa-check-square"></span>
            <h1>@ViewData["Title"]</h1>
            <p>
                Sprawdź swój email w celu zmiany hasła.
            </p>
            </div></div>
