@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}
    <div class="box-cont  mx-1 mx-lg-5 mx-md-2 text-center">
        <div class="special" style="padding-top:6rem">
            <span class="far icon fa-check-square"></span>
            <h1>@ViewData["Title"]</h1>
            <p>
                Twoje hasło zostało zresetowane. Wejdź na: <a asp-page="./Login">zaloguj się</a> aby móc zalogować się do systemu.
            </p>
            </div></div>