@model VetSystemEngineer.ViewModels.MedicalDocumentation

    <form asp-action="NewVisit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="Weight">Waga</label>
            <input asp-for="Weight" class="form-control">
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Purpose">Powód przyjęcia</label>
                    <textarea class="form-control" asp-for="Purpose" rows="5"></textarea>
                    <span asp-validation-for="Purpose" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="DecrDisActions">Wykonane czynności</label>
                    <textarea class="form-control" asp-for="DecrDisActions" rows="5"></textarea>
                    <span asp-validation-for="DecrDisActions" class="text-danger"></span>
                </div>
            </div>
        </div>


        <button type="submit" class="btn-lg btn-primary float-right">Dodaj nową wizytę</button>

    </form>


