@model VetSystemEngineer.Models.Institution
@{
    ViewData["Title"] = "Zmień dane placówki";
    Layout = "_InstLayout";
    ViewBag.Wallpaper = "../images/Placówki.jpg";
    
}
<div class="box-cont">
    <div class="container-fluid  ">
       
        <form asp-action="ChangeDataInst" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>


            <div class="form-group">
                <label asp-for=@Model.NameInst>Nazwa gabinetu</label>
                <input asp-for=@Model.NameInst class="form-control" />
                <span asp-validation-for=@Model.NameInst class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.EmailInst>Email</label>
                <input asp-for=@Model.EmailInst class="form-control" readonly="readonly" />
                <span asp-validation-for=@Model.EmailInst class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.InterList>Opis, dostępne zabiegi</label>
                <textarea rows="7" asp-for=@Model.InterList class="form-control"> </textarea>
                <span asp-validation-for=@Model.InterList class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.PhNumInst>Nr tel</label>
                <input asp-for=@Model.PhNumInst class="form-control">
                <span asp-validation-for=@Model.PhNumInst class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for=@Model.City>Miasto</label>
                    <input asp-for=@Model.City class="form-control">
                    <span asp-validation-for=@Model.City class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for=@Model.AddressInst>Ulica</label>
                    <input asp-for=@Model.AddressInst class="form-control">
                    <span asp-validation-for=@Model.AddressInst class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for=@Model.Postcode>Kod pocztowy</label>
                    <input asp-for=@Model.Postcode class="form-control">
                    <span asp-validation-for=@Model.Postcode class="text-danger"></span>
                </div>


            </div>
            <button type="submit" class="btn-lg btn-primary float-right">Zmień dane placówki</button>
        </form>
    </div>
</div>
